header {
	display: flex;
	flex-flow: column;
	align-items: center;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 2em;
}

main {
	display: flex;
  flex: 1 0 auto;
}

#display {
	display: flex;
	flex-wrap: wrap;
}

#toppings {
	display: flex;
	flex: 1;
	align-items: flex-end;
}

.toppings {
	padding: .2em;
}
#new-topping {
	display: flex;
	flex: 1;
}

#pizza-list {
	display: flex;
	flex-flow: column;
	width: 200px;
}

#pizza-maker {
	flex: .3;
}

#middle {
	display: flex;
	flex-flow: column;
	flex: 1;
	padding: 1em;
}

#controls {
	display: flex;
}

#status-input {
	flex: .5;
}